body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f9f9f9;
  display: flex;
  /*flex-direction: column;
  align-items: center;
  justify-content: center;*/
  min-height: 100vh;
}
input, button {
  margin: 5px 0;
  padding: 8px;
}
a {
  color: #0077cc;
  text-decoration: none;
}
