<header
	class="bg-white border border-transparent shadow
		dark:bg-gray-800 dark:border-b-gray-700"
>
	<div
		class="flex items-center justify-between py-4 px-8 md:px-11 max-w-7xl mx-auto"
	>
		<a href="/home" data-link class="cursor-pointer hover:underline hover:decoration-2 hover:decoration-primary hover:underline-offset-4" >
			<div class="flex gap-2 items-center hover:[&_div]:bg-primary/20 hover:[&_div]:text-primary dark:hover:[&_div]:bg-gray-200 pointer-events-none" data-item-icon>
				<div class="size-8 flex items-center shadow dark:border dark:border-gray-700 justify-center rounded-full"><icon-chevron-left></icon-chevron-left></div>
				Back
			</div>
		</a>

		<div
			class="flex items-center text-2xl font-bold text-gray-900
			dark:text-white
			sm:max-w-sm sm:text-3xl
			md:max-w-md md:text-4xl"
		>
			<span class="text-2xl mr-2 hidden sm:block sm:text-3xl md:text-4xl">⚙️</span>
			History
		</div>
	</div>
</header>

<main class="flex flex-col gap-4 p-4 max-w-7xl mx-auto">

	CONTENT




</main>
