<div class="flex flex-col items-center justify-center h-dhv min-h-screen">
	<h1 class="text-6xl font-bold mb-10 text-yellow-400">TOURNAMENT VICTORY!</h1>
	<tournament-victory-screen></tournament-victory-screen>
	<div class="tw-card p-4">
		<p class="text-l italic">The golden grail that has made the unworthy tremble and the weak minds shatter...</p>
		<p class="text-l italic">Those, who behold such trophy have been bathed in the golden glory of TOURNAMENT VICTORY!</p>
	</div>
	<div class="flex space-x-4">
		<a href="/leaderboard" class="tw-btn-outline w-20 mt-6">
			Stats
		</a>
		<a href="/home" class="tw-btn w-20 mt-6">
			Home
		</a>
		<a href="/profile" class="tw-btn-outline w-20 mt-6">
			Profile
		</a>
	</div>
</div>