<header
	class="bg-white border border-transparent shadow
		dark:bg-gray-800 dark:border-b-gray-700"
>
	<div
		class="flex items-center justify-between py-4 px-8 md:px-11 max-w-7xl mx-auto"
	>
		<a href="/settings" data-link class="cursor-pointer hover:underline hover:decoration-2 hover:decoration-primary hover:underline-offset-4" >
			<div class="flex gap-2 items-center hover:[&_div]:bg-primary/20 hover:[&_div]:text-primary dark:hover:[&_div]:bg-gray-200 pointer-events-none" data-item-icon>
				<div class="size-8 flex items-center shadow dark:border dark:border-gray-700 justify-center rounded-full"><icon-chevron-left></icon-chevron-left></div>
				Back
			</div>
		</a>

		<div
			class="flex items-center font-bold text-gray-900
			dark:text-white
			sm:max-w-sm sm:text-lg
			md:max-w-md md:text-xl"
		>
			<span class="text-2xl mr-2 hidden sm:block sm:text-3xl md:text-4xl">🔒</span>
			<div>
				<div>Two-Factor</div>
				<div>Authentification</div>
			</div>
		</div>
	</div>
</header>


<section>
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">

		<div class="tw-card w-full sm:max-w-sm md:mt-0 md:max-w-md xl:p-0">
			<div class="p-6 space-y-4 md:space-y-6">
				<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white
					border border-transparent border-b-gray-200 dark:border-b-gray-700 pb-4 sm:pb-6">
						Chose Verification Method
				</h1>

				<div class="space-y-4 md:space-y-6">
					<div class="grid gap-2">
						<div class="tw-btn text-left flex items-center gap-2">
							<input type="radio" id="html" name="verification_method" value="app" checked >
							<label for="html">Google Authenticator (recommended)</label>
						</div>

						<div class="tw-btn-disabled text-left flex items-center gap-2">
							<input type="radio" id="email" name="verification_method" value="email" disabled>
							<label for="email">E-Mail (soon avilable)</label>
						</div>

						<div class="tw-btn-disabled text-left flex items-center gap-2">
							<input type="radio" id="sms" name="verification_method" value="sms" disabled>
							<label for="sms">SMS (in develepment)</label>
						</div>
					</div>

					<div class="text-center border border-transparent border-y-gray-200 dark:border-y-gray-700 py-4 mt-12 sm:py-6">
						<div class="font-bold">Don't have the app?</div>
						<div class="text-xs mt-4 mb-2 sm:mt-6 sm:mb-4">Google Authenticator is free 2FA App. Download it on your mobile device by searching for "Google Autenticator" on the Play Store or App Store.</div>
						<div class="flex items-center justify-center text-primary">
							<a class="flex items-center gap-1 hover:underline" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">
								Play Store
								<div class="[&_svg]:size-4"><icon-square-arrow-up-right></icon-square-arrow-up-right></div>
							</a>
							<p class="mx-2">|</p>
							<a class="flex items-center gap-1 hover:underline" href="https://apps.apple.com/de/app/google-authenticator/id388497605" target="_blank">
								App Store
								<div class="[&_svg]:size-4"><icon-square-arrow-up-right></icon-square-arrow-up-right></div>
							</a>
						</div>
					</div>

					<div class="flex items-center justify-between">
						<a
							href="/settings"
							data-link
							class="tw-btn-outline w-24"
						>
							Cancel
						</a>
						<a
							class="tw-btn w-24"
							href="/settings/2fa/register-ga"
							data-link
						>
							Next
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
